{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>My Blog</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/foundation.css" %}">
        <script src="{% static "js/libs/jquery-1.11.3.min.js" %}"></script>
        <script src="{% static "js/libs/main.js" %}"></script>
        <script src="{% static "comment.js" %}"></script>
         <script src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.2/trianglify.min.js"></script>

{#        <script type="text/javascript">#}
{#    // random background pattern#}
{#    $(function(){#}
{#      // See more options here: https://github.com/qrohlf/trianglify#options#}
{#      var ops = {#}
{#        noiseIntensity: 0#}
{#      };#}
{#      var t = new Trianglify(ops);#}
{#      var pattern = t.generate(document.body.clientWidth, document.body.clientHeight);#}
{#      document.body.setAttribute('style', 'background: '+pattern.dataUrl + ' center top fixed no-repeat;');#}
{##}
{#    });#}
{#    </script>#}

    <script type="text/javascript">
        $(document).ready(function(){
            $("a#clickme").click(function(event) {
                event.preventDefault();
                $.ajax({
                    url: "/auth/logout/",
                    type: "POST",
                    data: "",
                    dataType: "json",
                    success: $("a#clickme").replaceWith('<a href="/auth/login/">' +
                        '<img src="{% static "img/button/enter.png" %}"></a></li>')
                });
            });

            });
    </script>
    </head>

            <div class="top-bar" style="position: fixed; top: 0; width: 100%; height: 50px">
                <section class="top-bar-section">
                    <ul class="left">
                        <li><a href="/"><img src="{% static "img/button/red.png" %}"></a></li>
                    </ul>
                    <ul class="right">
                        {% if username %}
                            <li ><a id="clickme" href="/auth/logout/"><img src="{% static "img/button/exit.png" %}"></a></li>
                        {% else %}
                            <li><a href="/auth/login/"><img src="{% static "img/button/enter.png" %}"></a></li>
                        {% endif %}
                        <li><a href="/resume/"><img src="{% static "img/button/resume.png" %}"></a></li>
                        <li>
                            <a href="/"><img src="{% static "img/button/my_blog.png" %}"></a>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="row" style="padding: 70px 0 0 0">
            {% block article %}{% endblock %}
            {% block login %}{% endblock %}
            </div>
        </body>
</html>