{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>My Blog</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/foundation.css" %}">
        <script src="{% static "js/libs/jquery-1.11.3.min.js" %}"></script>
        <script src="{% static "js/libs/main.js" %}"></script>
        <script src="{% static "comment.js" %}"></script>
         <script src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.2/trianglify.min.js"></script>

        <script type="text/javascript">
    // random background pattern
    $(function(){
      // See more options here: https://github.com/qrohlf/trianglify#options
      var ops = {
        noiseIntensity: 0
      };
      var t = new Trianglify(ops);
      var pattern = t.generate(document.body.clientWidth, document.body.clientHeight);
      document.body.setAttribute('style', 'background-image: '+pattern.dataUrl);
    });
    </script>
      <style type="text/css">
      .comment{
        background:rgba(255,255,255,1);
        padding: 8px;
        margin-bottom:5px;
        border:none;
      }
      .white{
        background:rgba(255,255,255,1);
        padding-top: 10px;
        border:none;
      }
      .commentcenter{
        position:relative;
        left:43%;
      }
      input.textarea:focus{
        height:1.5em;
        resize:none;
      }
      textarea{
        height:1.5em;
        resize:none;
      }
    </style>
    </head>
        <body>
            <div class="top-bar" style="background-color: darkslateblue">
                <section class="top-bar-section">
                    <ul class="right">
                        {% if username %}
                            <li ><a id="clickme" href="/auth/logout/">Выйти {{ username }}</a></li>
                        {% else %}
                            <li><a href="/auth/login/">Войти</a></li>
                        {% endif %}
                        <li><a href="/resume/">Резюме</a></li>
                    </ul>
                </section>
            </div>
            <h1><a href="/">Мой блог</a></h1>
            <div class="row">
            {% block article %}{% endblock %}
            {% block login %}{% endblock %}
            </div>
        </body>
</html>