{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>My Blog</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/foundation.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/top_menu.css" %}">
        <script src="{% static "js/libs/jquery-1.11.3.min.js" %}"></script>
        <script src="{% static "js/libs/main.js" %}"></script>
        <script src="{% static "comment.js" %}"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.2/trianglify.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function(){
            $("a#clickme").click(function(event) {
                event.preventDefault();
                $.ajax({
                    url: "/auth/logout/",
                    type: "POST",
                    data: "",
                    dataType: "json",
                    success: $("a#clickme").replaceWith('<a href="/auth/login/">' +
                        '<img src="{% static "img/button/enter.png" %}"></a></li>')
                });
            });
            $("a#polls").click(function(event) {
                event.preventDefault();
                $.ajax({
                    url: "/polls/",
                    type: "GET",
                    data: "",
                    dataType: "json",
                    success: function(json) {
                        var div_with_polls = $('#poll_list');
                        div_with_polls.empty();
                        json.forEach(function(item){
                            div_with_polls.append('<li><a href="'+ 'polls/' + item.pk + '"' + '>' + item.fields.question +'</a></li>');
                        });
                    }
                });
            });
        });
    </script>
    </head>
        <body>
            <div class="top-bar" id="my_top_bar">
                <section class="top-bar-section">
                    <ul class="left">
                        <li><a id="red_button" href="/"><img id="red_button" src="{% static "img/button/red.png" %}"></a></li>
                        <li><a href="/cross_browser/"><img id="iphone" src="{% static "img/button/iPhone-icon.png" %}"></a></li>
                    </ul>
                    <ul class="right">
                        <li><a href="/learn/"><img class="main_icon" src="{% static "img/button/learn.png" %}"></a></li>
                        {% if username %}
                            <li ><a id="clickme" href="/auth/logout/"><img class="main_icon" src="{% static "img/button/exit.png" %}"></a></li>
                        {% else %}
                            <li><a href="/auth/login/"><img class="main_icon" src="{% static "img/button/enter.png" %}"></a></li>
                        {% endif %}
                        <li><a href="/resume/"><img class="main_icon" src="{% static "img/button/resume.png" %}"></a></li>
                        <li>
                            <a href="/"><img class="main_icon" src="{% static "img/button/my_blog.png" %}"></a>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="row" id="my_article">
                <a id="polls">Опрос</a>
                <div id="poll_list">
                </div>
            <hr>
            {% block article %}{% endblock %}
            {% block login %}{% endblock %}
            </div>
        </body>
</html>