{% extends 'main.html' %}

{% block article %}
<h4>{{ article.article_date }}</h4>
<h2>{{ article.article_title }}</h2>
<p>{{ article.article_text }}</p>
<hr>
    <div class="large-offset-1 large-8 columns">
    <p>Коментарии:</p>
    {% for comment in comments %}
        <p>{{ comment.comments_text }}</p>
    {% endfor %}
    <p id="talk"></p>
    {% if username %}
    <form action="/articles/add_comment/{{ article.id }}/" method="POST" id="post-form">
        {% csrf_token %}
        {{ form }}
         <div id="results"></div>
        <input type="submit" class="button" value="Добавить коментарий">
    </form>
    {% endif %}

    </div>
{% endblock %}