
* {
    padding: 0;
    margin: 0;
}

/*iPad horizontal*/

@media only screen and (min-width: 1024px) {
    .back_main {
        background: url(../img/../img/images/ipad-mini-horizontal.png) no-repeat;
        width: 1500px;
        height: 1250px;
    }

    .container {
        background: url(../img/images/background.jpg);
        background-size: 100% 100%;
        position: absolute;
        top: 240px;
        left: 231px;
        height: 768px;
        width: 1024px;
    }

    .rad {
        position: absolute;
        top: 5px;
        left: 10px;
    }

    .rad_2 {
        position: absolute;
        top: 150px;
        left: 10px;
    }

    .rad_3 {
        position: absolute;
        top: 300px;
        left: 10px;
    }

    .rad_4 {
        position: absolute;
        top: 450px;
        left: 10px;
    }

    .rad_5 {
        position: absolute;
        top: 620px;
        left: 90px;
    }

    .rad_6 {
        visibility: hidden;
    }

    .icon {
        height: 100px;
        width: 100px;
        position: absolute;
    }

    .icon {
        background: url(../img/images/icons/Clock.png);
        background-size: 100% 100%;
        top: 24px;
        left: 70px;
    }

    .one {
        background: url(../img/images/icons/App%20Store.png);
        background-size: 100% 100%;
        top: 24px;
        left: 268px;
    }

    .two {
        background: url(../img/images/icons/iTunes%20Store.png);
        background-size: 100% 100%;
        top: 24px;
        left: 448px;
    }

    .three {
        background: url(../img/images/icons/Calculator.png);
        background-size: 100% 100%;
        top: 24px;
        left: 628px;

    }

    .four {
        background: url(../img/images/icons/Doo.png);
        background-size: 100% 100%;
        top: 24px;
        left: 808px;
    }

    #second_icon_one {
        background: url(../img/images/icons/FontExplorer%20X.png);
        background-size: 100% 100%;
    }

    #second_icon_two {
        background: url(../img/images/icons/Finder.png);
        background-size: 100% 100%;
    }

    #second_icon_three {
        background: url(../img/images/icons/Game%20Center%20alt2.png);
        background-size: 100% 100%;
    }

    #second_icon_four {
        background: url(../img/images/icons/InDesign.png);
        background-size: 100% 100%;
    }

    #second_icon_five {
        background: url(../img/images/icons/Illustrator.png);
        background-size: 100% 100%;
    }

    #third_icon_one {
        background: url(../img/images/icons/Idea%20Stuff.png);
        background-size: 100% 100%;
    }

    #third_icon_two {
        background: url(../img/images/icons/Game%20Center%20alt4.png);
        background-size: 100% 100%;
    }

    #third_icon_three {
        background: url(../img/images/icons/Mail.png);
        background-size: 100% 100%;
    }

    #third_icon_four {
        background: url(../img/images/icons/Music.png);
        background-size: 100% 100%;
    }

    #third_icon_five {
        background: url(../img/images/icons/Notes.png);
        background-size: 100% 100%;
    }

    #fourth_icon_one {
        background: url(../img/images/icons/Videos.png);
        background-size: 100% 100%;
    }

    #fourth_icon_two {
        background: url(../img/images/icons/Weather.png);
        background-size: 100% 100%;
    }

    #fourth_icon_three {
        background: url(../img/images/icons/Users.png);
        background-size: 100% 100%;
    }

    #fourth_icon_four {
        background: url(../img/images/icons/Safari.png);
        background-size: 100% 100%;
    }

    #fourth_icon_five {
        background: url(../img/images/icons/Trash%20Full.png);
        background-size: 100% 100%;
    }

    #fifth_icon_one {
        background: url(../img/images/icons/Passbook.png);
        background-size: 100% 100%;
    }

    #fifth_icon_two {
        background: url(../img/images/icons/Stocks.png);
        background-size: 100% 100%;
    }

    #fifth_icon_three {
        background: url(../img/images/icons/Smart.png);
        background-size: 100% 100%;
    }

    #fifth_icon_four {
        background: url(../img/images/icons/RSS%20Notifier.png);
        background-size: 100% 100%;
    }

    #fifth_icon_five {
        background: url(../img/images/icons/Phone.png);
        background-size: 100% 100%;
        visibility: hidden;
    }
}

/*iPad vertifical*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .back_main {
        background: url(../img/images/ipad-mini-vertifical.png) no-repeat;
        width: 1250px;
        height: 1500px;
    }

    .container {
        background: url(../img/images/background.jpg);
        background-size: 100% 100%;
        position: absolute;
        top: 232px;
        left: 242px;
        height: 1024px;
        width: 768px;
    }

    .rad {
        position: absolute;
        top: 45px;
    }

    .rad_2 {
        position: absolute;
        top: 210px;
    }

    .rad_3 {
        position: absolute;
        top: 360px;
    }

    .rad_4 {
        position: absolute;
        top: 510px;
    }

    .rad_5 {
        position: absolute;
        top: 660px;
    }

    .rad_6 {
        position: absolute;
        top: 860px;
    }

    .icon {
        height: 100px;
        width: 100px;
        position: absolute;
    }

    .icon {
        background: url(../img/images/icons/Maps.png);
        background-size: 100% 100%;
        top: 24px;
        left: 50px;
    }

    .one {
        background: url(../img/images/icons/App%20Store.png);
        background-size: 100% 100%;
        top: 24px;
        left: 248px;
    }

    .two {
        background: url(../img/images/icons/iTunes%20Store.png);
        background-size: 100% 100%;
        top: 24px;
        left: 428px;
    }

    .three {
        background: url(../img/images/icons/Calculator.png);
        background-size: 100% 100%;
        top: 24px;
        left: 608px;

    }

    .four {
        background: url(../img/images/icons/Library.png);
        background-size: 100% 100%;
        top: 24px;
        left: 628px;
        visibility: hidden;

    }

    #second_icon_one {
        background: url(../img/images/icons/Monosnap.png);
        background-size: 100% 100%;
    }

    #second_icon_two {
        background: url(../img/images/icons/Finder.png);
        background-size: 100% 100%;
    }

    #second_icon_three {
        background: url(../img/images/icons/Photoshop.png);
        background-size: 100% 100%;
    }

    #second_icon_four {
        background: url(../img/images/icons/InDesign.png);
        background-size: 100% 100%;
    }



    #third_icon_one {
        background: url(../img/images/icons/Idea%20Stuff.png);
        background-size: 100% 100%;
    }

    #third_icon_two {
        background: url(../img/images/icons/Game%20Center%20alt4.png);
        background-size: 100% 100%;
    }

    #third_icon_three {
        background: url(../img/images/icons/Mail.png);
        background-size: 100% 100%;
    }

    #third_icon_four {
        background: url(../img/images/icons/Music.png);
        background-size: 100% 100%;
    }

    #fourth_icon_one {
        background: url(../img/images/icons/Videos.png);
        background-size: 100% 100%;
    }

    #fourth_icon_two {
        background: url(../img/images/icons/Weather.png);
        background-size: 100% 100%;
    }

    #fourth_icon_three {
        background: url(../img/images/icons/Users.png);
        background-size: 100% 100%;
    }

    #fourth_icon_four {
        background: url(../img/images/icons/Safari.png);
        background-size: 100% 100%;
    }

    #fifth_icon_one {
        background: url(../img/images/icons/Passbook.png);
        background-size: 100% 100%;
    }

    #fifth_icon_two {
        background: url(../img/images/icons/Stocks.png);
        background-size: 100% 100%;
    }

    #fifth_icon_three {
        background: url(../img/images/icons/Smart.png);
        background-size: 100% 100%;
    }

    #fifth_icon_four {
        background: url(../img/images/icons/RSS%20Notifier.png);
        background-size: 100% 100%;
    }


    #sixth_icon_one {
        background: url(../img/images/icons/Mail.png);
        background-size: 100% 100%;
    }

    #sixth_icon_two {
        background: url(../img/images/icons/Calculator.png);
        background-size: 100% 100%;
    }

    #sixth_icon_three {
        background: url(../img/images/icons/Design%20Briefs.png);
        background-size: 100% 100%;
    }

    #sixth_icon_four {
        background: url(../img/images/icons/Drop%20Stuff.png);
        background-size: 100% 100%;
    }

}

/*iPhone5 horizontal*/

@media only screen and (min-width: 568px) and (max-width: 768px) {
    .back_main {
        background: url(../img/images/iphone5-horizontal.png) no-repeat;
        width: 1800px;
        height: 1000px;
    }

    .container {
        background: url(../img/images/background.jpg);
        background-size: 100% 100%;
        position: absolute;
        top: 182px;
        left: 328px;
        height: 640px;
        width: 1136px;
    }
    .rad {
        position: absolute;
        top: 5px;
        left: 10px;
    }

    .rad_2 {
        position: absolute;
        top: 150px;
        left: 10px;
    }

    .rad_3 {
        position: absolute;
        top: 300px;
        left: 10px;
    }

    .rad_4 {
        position: absolute;
        top: 450px;
        left: 100px;
    }

    .rad_5 {
        *position: absolute;
        top: 600px;
        left: 10px;
        visibility: hidden;
    }

    .rad_6 {
        visibility: hidden;
    }

    .icon {
        height: 100px;
        width: 100px;
        position: absolute;
    }

    .icon {
        background: url(../img/images/icons/Clock.png);
        background-size: 100% 100%;
        top: 24px;
        left: 80px;
    }

    .one {
        background: url(../img/images/icons/App%20Store.png);
        background-size: 100% 100%;
        top: 24px;
        left: 288px;
    }

    .two {
        background: url(../img/images/icons/iTunes%20Store.png);
        background-size: 100% 100%;
        top: 24px;
        left: 498px;
    }

    .three {
        background: url(../img/images/icons/Calculator.png);
        background-size: 100% 100%;
        top: 24px;
        left: 708px;

    }

    .four {
        background: url(../img/images/icons/Doo.png);
        background-size: 100% 100%;
        top: 24px;
        left: 928px;
    }

    #second_icon_one {
        background: url(../img/images/icons/FontExplorer%20X.png);
        background-size: 100% 100%;
    }

    #second_icon_two {
        background: url(../img/images/icons/Finder.png);
        background-size: 100% 100%;
    }

    #second_icon_three {
        background: url(../img/images/icons/Game%20Center%20alt2.png);
        background-size: 100% 100%;
    }

    #second_icon_four {
        background: url(../img/images/icons/InDesign.png);
        background-size: 100% 100%;
    }

    #second_icon_five {
        background: url(../img/images/icons/Illustrator.png);
        background-size: 100% 100%;
    }

    #third_icon_one {
        background: url(../img/images/icons/Idea%20Stuff.png);
        background-size: 100% 100%;
    }

    #third_icon_two {
        background: url(../img/images/icons/Game%20Center%20alt4.png);
        background-size: 100% 100%;
    }

    #third_icon_three {
        background: url(../img/images/icons/Mail.png);
        background-size: 100% 100%;
    }

    #third_icon_four {
        background: url(../img/images/icons/Music.png);
        background-size: 100% 100%;
    }

    #third_icon_five {
        background: url(../img/images/icons/Notes.png);
        background-size: 100% 100%;
    }

    #fourth_icon_one {
        background: url(../img/images/icons/Videos.png);
        background-size: 100% 100%;
    }

    #fourth_icon_two {
        background: url(../img/images/icons/Weather.png);
        background-size: 100% 100%;
    }

    #fourth_icon_three {
        background: url(../img/images/icons/Users.png);
        background-size: 100% 100%;
    }

    #fourth_icon_four {
        background: url(../img/images/icons/Safari.png);
        background-size: 100% 100%;
    }

    #fourth_icon_five {
        background: url(../img/images/icons/Trash%20Full.png);
        background-size: 100% 100%;
        visibility: hidden;
    }

    #fifth_icon_one {
        background: url(../img/images/icons/Passbook.png);
        background-size: 100% 100%;
    }

    #fifth_icon_two {
        background: url(../img/images/icons/Stocks.png);
        background-size: 100% 100%;
    }

    #fifth_icon_three {
        background: url(../img/images/icons/Smart.png);
        background-size: 100% 100%;
    }

    #fifth_icon_four {
        background: url(../img/images/icons/RSS%20Notifier.png);
        background-size: 100% 100%;
    }

    #fifth_icon_five {
        background: url(../img/images/icons/Phone.png);
        background-size: 100% 100%;
    }
}

/*iPhone5 vertical*/

@media only screen and (min-width: 320px) and (max-width: 568px) {
    .back_main {
        background: url(../img/images/iphone5-vertical.png) no-repeat;
        width: 1000px;
        height: 1800px;
    }

    .container {
        background: url(../img/images/background.jpg);
        background-size: 100% 100%;
        position: absolute;
        top: 328px;
        left: 184px;
        height: 1136px;
        width: 640px;
    }

    .rad {
        position: absolute;
        top: 50px;
    }

    .rad_2 {
        position: absolute;
        top: 200px;
    }

    .rad_3 {
        position: absolute;
        top: 350px;
    }

    .rad_4 {
        position: absolute;
        top: 500px;
    }

    .rad_5 {
        position: absolute;
        top: 650px;
    }

    .rad_6 {
        position: absolute;
        top: 990px;
    }

    .icon {
        height: 100px;
        width: 100px;
        position: absolute;
    }

    .icon {
        background: url(../img/images/icons/Maps.png);
        background-size: 100% 100%;
        top: 24px;
        left: 40px;
    }

    .one {
        background: url(../img/images/icons/App%20Store.png);
        background-size: 100% 100%;
        top: 24px;
        left: 198px;
    }

    .two {
        background: url(../img/images/icons/iTunes%20Store.png);
        background-size: 100% 100%;
        top: 24px;
        left: 358px;
    }

    .three {
        background: url(../img/images/icons/Calculator.png);
        background-size: 100% 100%;
        top: 24px;
        left: 498px;

    }

    .four {
        background: url(../img/images/icons/Library.png);
        background-size: 100% 100%;
        top: 24px;
        left: 448px;
        visibility: hidden;

    }

    #second_icon_one {
        background: url(../img/images/icons/Monosnap.png);
        background-size: 100% 100%;
    }

    #second_icon_two {
        background: url(../img/images/icons/Finder.png);
        background-size: 100% 100%;
    }

    #second_icon_three {
        background: url(../img/images/icons/Photoshop.png);
        background-size: 100% 100%;
    }

    #second_icon_four {
        background: url(../img/images/icons/InDesign.png);
        background-size: 100% 100%;
    }

    #third_icon_one {
        background: url(../img/images/icons/Idea%20Stuff.png);
        background-size: 100% 100%;
    }

    #third_icon_two {
        background: url(../img/images/icons/Game%20Center%20alt4.png);
        background-size: 100% 100%;
    }

    #third_icon_three {
        background: url(../img/images/icons/Mail.png);
        background-size: 100% 100%;
    }

    #third_icon_four {
        background: url(../img/images/icons/Music.png);
        background-size: 100% 100%;
    }

    #fourth_icon_one {
        background: url(../img/images/icons/Videos.png);
        background-size: 100% 100%;
    }

    #fourth_icon_two {
        background: url(../img/images/icons/Weather.png);
        background-size: 100% 100%;
    }

    #fourth_icon_three {
        background: url(../img/images/icons/Users.png);
        background-size: 100% 100%;
    }

    #fourth_icon_four {
        background: url(../img/images/icons/Safari.png);
        background-size: 100% 100%;
    }

    #fifth_icon_one {
        background: url(../img/images/icons/Passbook.png);
        background-size: 100% 100%;
    }

    #fifth_icon_two {
        background: url(../img/images/icons/Stocks.png);
        background-size: 100% 100%;
    }

    #fifth_icon_three {
        background: url(../img/images/icons/Smart.png);
        background-size: 100% 100%;
    }

    #fifth_icon_four {
        background: url(../img/images/icons/RSS%20Notifier.png);
        background-size: 100% 100%;
    }


    #sixth_icon_one {
        background: url(../img/images/icons/Burnable.png);
        background-size: 100% 100%;
    }

    #sixth_icon_two {
        background: url(../img/images/icons/EasyFind.png);
        background-size: 100% 100%;
    }

    #sixth_icon_three {
        background: url(../img/images/icons/Doo.png);
        background-size: 100% 100%;
    }

    #sixth_icon_four {
        background: url(../img/images/icons/Developer.png);
        background-size: 100% 100%;
    }
}