body {
  background: #fff;
  color: #222;
  cursor: auto;
  font-family: Droid Sans, Arial, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  margin: 0;
  padding: 0;
   }

#left_panel {
    float: left;
    padding: 40px 50px 250px 55px;
    background-color: #b9b9b9;

}

#center_panel {
    padding: 40px 100px 1px 50px;
}

h3 {
    color: #cf2a0e;
}

img {
    width: 24px;
    height: 24px;
}



#main {
    width: 150px;
    height: 150px;
}

#rating {
    width: 90px;
    height: 14px;
}


#params {
    float: left;
}

#params_rating {
    padding: 1px 1px 10px 190px;

}

a {
    color: black;
}

a:visited {
    color: orangered;
}

.top-bar {
    position: fixed;
    right: 0; /* Расстояние от правого края окна браузера */
    top: 0;
    width: 120px;
    height: 50px;
    z-index: 99;
}

.top-bar img {
    width: 120px;
    height: 50px;
}

@media (max-width: 1400px)  {

    #left_panel {
        background-color: #b9b9b9;
        position: absolute;
        top: 50px;
        left: 10px;
        height: 1920px;
        width: 300px;
}

    #center_panel {
        /*background-color: red;*/
        position: absolute;
        top: 50px;
        left: 410px;
        height: 1920px;
        width: 700px;
    }
}